header{
    padding-top: 20px;
    padding-bottom: 35px;
    background-color:rgb(251,204,226);
    font-size: 5px;
    text-align: right;   
    margin-bottom: 50px;
}

#tituloContacto{
    color:rgba(181,223,225,255);
    font-size: 70px;
}
#tituloEstemosEn{
   font-size: 50px;
}
.sideImage{
    position: absolute;
}

footer{
    background-image: url(https://www.elespectador.com/resizer/TazeTrJrzV2beWS0wU3_sJXwl4c=/arc-anglerfish-arc2-prod-elespectador/public/FUKFCVSIZVAJJMRDP2LT2SQ6GA.jpg);
    margin-top: 150px;
    position: absolute;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    text-align: center;   
    left: 0;
    right:0;
    font-size: 12px;
    font-family: Lucida Sans Unicode;
    background-position: center 40%;
}



.link{
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-family: Lucida Sans Unicode;
    
}

.form-input-container{
    padding-top: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    
}
input{
    background-color:rgba(181,223,225,255) ;
    border: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 90%;
    min-width: 90%;
    text-align: center; 
    
}
textarea{
    background-color: rgba(181,223,225,255);
    outline: none;
    max-width: 90%;
    min-width: 90%;
    border: 0;
    resize: none;
}
.form{
    text-align: center;
    border-radius: 50px;
    border-width: 1px;   
}

h1{
    text-align: center;
}

#submit{
    margin-top: 10px;
    background-color:rgba(255,255,255) ;
    padding-left: 20px;
    
    padding-right: 20px;
}

.sidebar{
    float:left
}