#foto{
    padding-top: 100px;
    left: 0;
    right:500;
    margin:0;
    width: 1345px;
    height: 220px;
    background-color: rgb(251, 204, 226);
}
ul {
    padding-top: 35px;
    float: right;
    text-align: center;
}

li {
    margin: 30px 5px;
    display: inline-block;
}
li a.active,
li a:hover {
    background:rgb(254,216,142);
    color: black;
    border-radius: 50px;
    transition: .5s;
}
.link {
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-family: Lucida Sans Unicode;

}
#nav{
    
    padding-top: 10px;
    padding-bottom: 35px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    opacity: 0.9;
    font-family: Lucida Sans Unicode;
    font-size: 15px;
    color: black;
 }

 #container{
    padding: 3%;
 }

#cremas, #chocolates, #dulceDeLeches, #frutales, #tortas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family:Tahoma;
}

#crema, #chocolate, #dulceDeLeche, #frutal, #torta{
    padding-top: 20px;
    font-family: Lucida Sans Unicode;
    margin-bottom: 100px;
    width: 300px;
    height: 250px;
    font-size: 11px;
    border-radius: 17px;
    text-align: center;
}

#linkCremas, #linkChocolates,#linkDulceDeLeches,#linkFrutales,#linkTortas{
    font-size: 50px;
    color: rgb(251,204,226);
    padding-left: 45px;
    margin-top: 40px;
    font-family:Arial Narrow;
    text-transform: uppercase;
}

h3{
    font-size: 25px;
    font-family:Arial Narrow;
    margin-bottom: 1px;
}

p{
    margin-top: 1px;
    font-size: 14px;
}

footer {
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/heladeria-madrid-popota-1560378049.jpg?crop=0.821xw:0.614xh;0.131xw,0.223xh&resize=1200:*);
    margin-top: 150px;
    position: absolute;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 12px;
    font-family: Lucida Sans Unicode;
    background-position: center 60%;
}